@import "../../Colors.scss";

.title {
  width: fit-content;
  font-size: 60px;

  margin: 20px auto;
}

.classList {
  display: block;
  background-color: #d9d9d9;

  border-radius: 20px;
  padding: 15px;
  margin: 0px auto;

  height: 80%;
  min-width: 175px;
  width: 85%;

  overflow-y: auto;
  overflow-x: hidden;
}

.classListItem {
  color: black;
  font-size: 40px;
  border-radius: 10px;
  padding: 7px;
  text-align: center;

  overflow-x: auto;
  overflow-y: hidden;

  margin-bottom: 10px;
  &:first-child {
    margin-top: 10px;
  }

  background-color: white;

  cursor: pointer;

  transition: all 0.4s;

  &:hover {
    background-color: $dark-2;
    color: white;
    font-size: 50px;
    padding: 10px;
  }
}

.newClassForm {
  color: black;
  text-align: center;

  input {
    border-radius: 6px;
    margin: 2px 2.5px;
  }
}
