@import "../../Colors.scss";

$navbar-height: calc(1vw + 32px);
$note-list-width: calc(200px + 8vw);

.title {
  font-size: 40px;
  text-align: center;
}

.noteList {
  position: absolute;
  top: $navbar-height;
  right: 0;

  width: $note-list-width;
  height: calc(100vh - $navbar-height);

  background-color: $medium-2;
}

.noteListItem {
  text-align: center;
  margin: 5px 20px;

  font-size: 22px;

  padding: 5px;

  background-color: $dark-2;
  border-radius: 10px;

  transition: all 0.4s;
  cursor: pointer;

  &:hover {
    background-color: $light-2;
    color: $dark-2;
  }
}

.newNoteForm {
  display: block;
  margin: 20px auto;

  label {
    display: block;
    text-align: center;
  }
}

.newNoteInput {
  display: block;
  margin: auto;

  text-align: center;
  font-size: 20px;
}

.newNoteSubmit {
  display: block;
  margin: auto;
}

.noteTextarea {

  position: absolute;
  padding-left: 10px;
  padding-top: 10px;

  top: calc($navbar-height + 100px);
  left: calc(20px + 1vw);

  width: calc(92vw - $note-list-width);
  height: calc(85vh - $navbar-height);
  font-size: 20px;

  resize: none;
}

.noteTitle {
  font-size: calc(40px + 1vw);
  margin: 20px 70px;
}

.saveButton {
  position: absolute;
  font-size: 20px;
  height: 40px;
  top: calc($navbar-height + 100px - 40px);
  right: calc($note-list-width + 120px);
}
